body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Katana";
  src: local("FiraSans"), url("./fonts/Katana.ttf") format("truetype");
}

@font-face {
  font-family: "NinjaNaruto";
  src: local("FiraSans"), url("./fonts/NinjaNaruto.ttf") format("truetype");
}

@font-face {
  font-family: "test";
  src: local("FiraSans"), url("./fonts/test.ttf") format("truetype");
}
